.form{
  margin-top: 4rem;
  width: 100%;
  background-color: var(--dark);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
}
.name{
  height: 2.5rem;
  padding: 0 20px;
  width: 100%;
  border-radius: 6px;
  margin-bottom: 30px;
  outline: none;
  border: none;
  background-color: var(--gray);
}
.area{
  width: 100%;
  height: 7rem;
  border-radius: 6px;
  border: none;
  padding: .7rem;
  outline: none;
  margin-bottom: 20px;
  resize: none;
  background-color: var(--gray);
}
.label{
  font-weight: bold;
  margin-bottom: .4rem;
  color: var(--white);
}
.button{
  width:15rem;
  height: 3rem;
  border: none;
  outline: none;
  border-radius: 6px;
  background-color: var(--light-green);
  cursor: pointer;
}
.error{
  margin: 0 1rem;
  text-align: center;
  color: #CB3234;
  font-size: 1.5rem;
  padding-bottom: 14px;
}
.success{
  margin: 0 3rem;
  text-align: center;
  color: var(--light-green);
  font-size: 1.5rem;
  padding-bottom: 14px;
}
.loading{
  width: 3rem;
  height: 3rem;
  transform: rotate(0deg);
  margin-bottom: 8px;
  animation: loadingAnimation 1s ease infinite;
}
@keyframes loadingAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.publised{
  margin-bottom: 12px;
}